<div class="pt-4 container-flid">
  <form>
    <button type="submit" class="btn btn-success">add</button>
    <div class="form-floating mb-3">
      <label for="floatingInput">Name</label>
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
      <label for="ImagePath">Image Url</label>
      <input type="text" class="form-control" id="ImagePath" name="ImagePath" placeholder="Password">
    </div>
    <div class="form-floating">
     <img class="img-response" src="" alt="">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <label class="form-label">Ingredient</label>
    <div style="margin: auto;">
      <div class="row justify-content-evenly">
        <div class="col-5 mt-2">
            <input class="form-control" placeholder="Name"/>
        </div>
        <div class="col-4 mt-2">
          <input type="number" class="form-control" placeholder="Amount"/>
         </div>
         <div class="col-1 mt-2">
          <button class="btn btn-danger">x</button>
         </div>
      </div>
    </div>
  </form>
</div>
